<h1>3,5chan</h1>

<ul>
<a href="/login">
  <li>Login</li>
</a>
<a href="/signup">
  <li>Sign Up</li>
</a>
<li>Create a post</li>
</ul>

<p>You should see some posts here.</p>


<!-- will list all users:
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
    </li>
  <% end %>
</ul>
-->
