<h1>3,5chan</h1>

<ul>
<li>Login</li>
<li>Sign Up</li>
<li>List Posts</li>
</ul>


<!-- will list all users:
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
    </li>
  <% end %>
</ul>
-->
